
    
    /* ESTILIZACAO GERAL*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-image:url(assets/img/background/img.7.webp);
        height:100vh;
    }
    
    .interface{
        max-width: 1280px;
        margin:0 auto;
    }
    
    .flex{
        display: flex;
    }
      
    .btn-contacto button {
        padding: 10px 40px;
        font-size: 18px;
        font-weight: 700;
        background-color: #00ff08cc;
        border: 0;
        border-radius: 30px;
        cursor: pointer;
        transition: 2s;}
    
    
    button:hover{
    box-shadow: 0px 0px 8px #00ff08 ;
    transform: scale(1.04);
      
    }
    
    h2.titulo{
        color: #fff;
        font-size: 38px;
        text-align: center;
     
     }
    
      samp{
        color: #00ff08;
     }
    
    
    /* ESTILIZACAO DO HEDER*/
    
    header{
        padding: 40px 10%;  
        box-shadow: 0 0 40px 10px #ffffff3a;      
    }
     
    header > .interface{
        display: flex;
        align-items:center;
        justify-content:space-between;
        
    }
    
    header a{
        color: #7a7373 ;
        text-decoration: none;
        display: inline-block;
        transition: 2s;
    
    }
    header a:hover{
     color: #fff ;
     transform: scale(1.05);
    }
    
    header nav ul {
        list-style: none ;
    }
    
    header nav ul li{
        display: inline-block;
        padding:0 40px
        ;
    }
       
        header {
            display: flex;
            justify-content: space-between; 
            align-items: center;
        }
    

/*estililizacao de contacto*/
section.formulario{
    box-shadow: 0 0 40px 10px #4c97573a;  
    padding:80px 4% ;
 }
form{
    max-width: 500px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
 
form input , form textarea , button{
    width: 100%;
    background-color: #4e4e4e;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none ;
}
form.enviar input{
    margin-top: 120px;
}



/* estilo do footer*/
footer{
    box-shadow: 0 0 40px 10px #ffffff3a; 
    display: flex;
    margin: 10px;
  color: #fff;
}
a{
    color: #fff;
}

footerb .flex{
    justify-content: first last baseline;
}

footer .line-footer p {
    color: #00ff08;
}
footer.img{
    margin: 0px;
    padding : 0px;
}
